/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* fonts */

/* common styles */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    margin-bottom: 70px;
}
/* common styles */

/* banner styles */
.banner-area{
    background-color: #2D25A0;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 677px;
    margin: 0 10%;
}
.title h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}
.title h1:hover{
    color: wheat;
    cursor: pointer;
}
.button{
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: 500;
    line-height: 24px;
}
#right-arrow{
    margin-left: 8px;
}
.banner-image img{
    width: 556px;
    height: 438px;
    transition: transform 1500ms ease-in-out;
}
.banner-image img:hover{
    transform: rotate(90deg) skew(-20deg);
}
/* banner styles */


/* player details styles */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    grid-auto-rows: minmax(600px, auto);
    margin: 3% 10%;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.15);
    padding: 15px;
}
.player-image img{
    height: 256px;
    width: 300px;
    padding: 15px;
}
.player-info{
    padding: 1px 15px;
}
.player-info h2{
    font-size: 28px;
    font-weight: 700px;
    line-height: 40px;
}
.info{
    font-weight: 300px;
    color: #6C6C6C;
}
/* player details styles */

/* footer styles */

.footer{
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center; */
    text-align: center;
}
.logo img{
    width: 484px;
    height: 110px;
}
.footer .fab{
    font-size: 32px;
    margin: 20px 14px;
}
#github:hover{
    color: #7DBBE6;
}
#linkedin:hover{
    color: #0e76a8;
}
#skype:hover{
    color: #00aff0;
}
#twitter:hover{
    color: #00acee;
}

/* footer styles */